                            

    <div id="card"  (mouseenter)="onMouseEnter()" (click)="onCardClick()" (mouseleave)="onMouseLeave()" style="width: 350px; height: 450px; border-bottom: 2px solid #43BBFF; position: relative;">
        <img style="position: relative;top: 18px;left: 18px;" src="assets/sticky-note.png" width="30px" alt="">
        <h4 [style.color]="fontColor"  style="position: relative;top: 48px;left: 17px;" >{{cardValues?.noteTitle}}</h4>
        <p id="noteDescription" [style.color]="fontColor" style="position: relative;top: 54px;left: 22px;width: 325px;">{{truncateText(cardValues?.noteDesc,70)}}</p>
        <img style="position: absolute;bottom: 23px;left: 214px;" src="assets\calendorIcon.png" width="30px" alt="">
        <p [style.color]="fontColor" style="position: absolute;left: 250px;bottom: 12px;color: black;width: 114px;">{{cardValues?.createDate}}</p>
    </div>
